<% content_for :title do %>
  Posts &ndash; <%= DateTime.now.to_formatted_s(:nice_date) %>
<% end %>
<h1>Today's Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="card mt-4">
      <div class="card-body">
        <%= render post %>  
      </div>
      <div class="card-footer">
        <%= link_to "Show this post", post %>
      </div>
    </div>
    

  <% end %>
 
</div>

<button class="btn btn-warning mt-4">
  <%= link_to "View all entries", archives_index_path %>
</button>